%p
  = "#{@country} is a wonderful country!"
%p Lastly, please tell me what your spirit animal is:
%form{ :action => "animal", :method => "post"}
  %input{:name => "animal", :type => "text"}
  %button{:type => "submit"} NEXT
