%p
  = "Thank you #{@name}!"
  %p Now please enter your country of birth:
  %form{ :action => "country", :method => "post"}
    %input{:name => "country", :type => "text"}
    %button{:type => "submit"} NEXT

