%p.repeat
  = "Nice to meet you, #{@name}!"
  %p Now please enter your country of birth:
  %form{ :action => "/country", :method => "post"}
    %input{:name => "country", :type => "text"}
    %button{:type => "submit"} NEXT
- if @error_message == true
  %p.error
    = "Please enter your country of origin to continue!"

