%h1
  Welcome to IntroduceMANN
%p
  Please introduce yourself by entering your name:
%form{:action => "name", :method => "post"}
  %input{:name => "name", :type => "text"}
  %button{:type => "submit"} NEXT

