!!!
%html
  %head
    %title IntroduceMANN
    %link{:type => "text/css", :rel => "stylesheet", :href => "/styles/styles.css"}
  %body
    .wrapper
      %span.logo IntroduceMANN
      .inner
        = yield
